<div class="background">
  <div class="container">
    <div class="row py-5">
      <!--<div class="col-md-2"></div>-->
      <!--<div class="col-md-8 py-4 box-background">-->
        <div class="col-md-6">
          <div class="guest-body">
            <table class="table table-borderless table-light table-customize mt-5 py-3">
              <thead>
                <tr>
                  <th scope="row">
                    <h4>Guest Infomation</h4>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">Number</th>
                  <td><%= @guest.number %></td>
                </tr>
                <tr>
                  <th scope="row">Name</th>
                  <td><%= @guest.name %></td>
                </tr>
                <tr>
                  <th scope="row">Name-Kana</th>
                  <td><%= @guest.name_kana %></td>
                </tr>
                <tr>
                  <th scope="row">Phone-Number</th>
                  <td><%= @guest.phone_number %></td>
                </tr>
                <tr>
                  <th scope="row">Address</th>
                  <td>
                    <% if @guest.address == "" %>
                      <p>未記入</p>
                    <% else %>
                      <p><%= @guest.address %></p>
                    <% end %>
                  </td>
                </tr>
                <tr>
                  <th scope="row">Birthday</th>
                  <td>
                    <% if @guest.birthday == nil %>
                      <p>未記入</p>
                    <% else %>
                      <p><%= @guest.birthday %></p>
                    <% end %>
                  </td>
                </tr>
                <tr>
                  <th scope="row">Sex</th>
                  <td><%= @guest.sex %></td>
                </tr>
                <tr>
                  <th scope="row">Allergie</th>
                  <td>
                    <% if @guest.allergie == "" %>
                      <p>未記入</p>
                    <% else %>
                      <p><%= @guest.allergie %></p>
                    <% end %>
                  </td>
                </tr>
                <tr>
                  <th scope="row">Profession</th>
                  <td>
                    <% if @guest.profession == "" %>
                      <p>未記入</p>
                    <% else %>
                      <p><%= @guest.profession %></p>
                    <% end %>
                  </td>
                </tr>
                <tr>
                  <th scope="row">First Time</th>
                  <td><%= @guest.created_at.strftime('%Y/%m/%d') %></td>
                </tr>
                <tr>
                  <th scope="row">Number of visits</th>
                  <td>"<%= @guest.posts.count %>" Thank you very much!</td>
                  <td><% if @guest.admin == current_admin %>
                        <% "　" %>
                        <%= link_to edit_guest_path(@guest) do %>
                          <i class="fas fa-edit fa-lg icon-link"></i>
                        <% end %>｜
                        <%= link_to guest_path(@guest), method: :delete do %>
                          <i class="fas fa-trash-alt fa-lg icon-link"></i>
                        <% end %>
                    <% end %>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="new-post my-3">
              <%= form_with model: @post, url: guest_posts_path(@guest), method: :post, local: true do |f| %>
                <%= f.text_area :infomation, rows: '3', placeholder: "", class: "form-control" %></br>
                <%= f.attachment_field :image, class: "mb-3" %></br>
                <%= f.submit "add to", class: "btn btn-secondary mb-5" %>
              <% end %>
            </div>
          </div>
        </div>

        <div class="col-md-6 mt-5 py-5 px-5 box-background">
          <div class="posts">
            <% @posts.each do |write| %>
              <%= write.created_at.strftime('%Y/%m/%d') %>｜
                <% if write.admin == current_admin %>
                  <%= link_to guest_post_path(write.guest,write), method: :delete do %>
                    <i class="fas fa-trash-alt fa-lg icon-link mb-3"></i>
                  <% end %></br>
                <% end %>
              <!--%= attachment_image_tag @post, :image, :fill, 40, 40, format: 'jpeg', fallback: "phonto.JPG", size: "300x300" %>-->
              <!--上記の記述の:fill, 40, 40（画像縮小）は読み込みが重くなる＋サイズ指定と重複するため不要-->
              <!--format: 'jpeg'も現時点で拡張子を指定して保存する必要がないため不要、下記記述に変更-->
              <%= attachment_image_tag write, :image, fallback: "phonto3.JPG", size: "480x640", class: "mb-3" %></br>
              <p class="mb-5">
              <%= write.infomation %></br></p>
            <% end %>
          </div>
        </div>

        <div class="mx-auto mt-5">
          <%= paginate @posts, remote: true %>
        </div>

    </div>
  </div>
</div>