<%= form_with model: @guest, local:true do |f| %>
  <label for="inputNumber">お客様番号</label></br>
  <%= f.text_field :number, autofocus: true, id:"inputNumber", placeholder:"お客様番号" %></br>
  <label for="inputName">氏名</label></br>
  <%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"名前" %></br>
  <label for="inputName_Kana">フリガナ</label></br>
  <%= f.text_field :name_kana, autofocus: true, id:"inputName_Kana", placeholder:"フリガナ" %></br>
  <label for="inputPhone_Number">電話番号</label></br>
  <%= f.text_field :phone_number, autofocus: true, id:"inputPhone_Number", placeholder:"電話番号" %></br>
  <label for="inputAddress">住所</label></br>
  <%= f.text_field :address, autofocus: true, id:"inputAddress", placeholder:"住所" %></br>
  <label for="inputBirthday">誕生日</label></br>
  <%= f.text_field :birthday, autofocus: true, id:"inputBirthday", placeholder:"誕生日" %></br>
  <label for="inputSex">性別</label></br>
  <%= f.text_field :sex, autofocus: true, id:"inputSex", placeholder:"性別" %></br>
  <label for="inputAllergie">アレルギー</label></br>
  <%= f.text_field :allergie, autofocus: true, id:"inputAllergie", placeholder:"アレルギー" %></br>
  <label for="inputProfession">職業</label></br>
  <%= f.text_field :profession, autofocus: true, id:"inputProfession", placeholder:"職業" %></br>
  <%= f.submit '編集' %>
<% end %>