<% @guests.each do |guest| %>
<div>
  <p>
  <% if guest.bookmarked_by?(current_admin) %>
      <%= link_to guest_bookmarks_path(guest), method: :delete do %>
        ♥
      <% end %>
    <% else %>
      <%= link_to guest_bookmarks_path(guest), method: :post do %>
        ♡
      <% end %>
  <% end %>
  No.<%= guest.number %>
  </p>
  <p>氏名：<%= link_to guest.name, guest_path(guest.id) %></p>
</div>
<% end %>
<%= paginate @guests %>