<% @guests.each do |guest| %>
<div>
  <p>
    <span id="bookmarks_buttons_<%= guest.id %>">
    <!--上記のguest.idはeach文のguestとは別物でjsへ渡すためのもの-->
    <%= render 'bookmarks/bookmark-btn', guest: guest %>
    </span>
    No.<%= guest.number %>
  </p>
  <p>氏名：<%= link_to guest.name, guest_path(guest.id) %></p>
</div>
<% end %>
<%= paginate @guests %>