<div class='background text-font'>
  <div class='container'>
    <div class='row py-5'>

      <div class='col-md-2'></div>

      <div class='col-md-8 py-4 box-background'>

          <div class='notice-my-page text-font'>
            <% if @admin.present? %>
              <% if flash[:alert] %>
                  <%= flash[:alert] %>
              <% end %>
            <% end %>
          </div>

        <% if @admin.errors.any? %>
          <div>
            <ul style='errors-message'>
              <% @admin.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <table class='table table-borderless table-light table-customize mt-3'>
          <tbody>
            <tr>
              <th scope='row'>Name</th>
              <td><%= @admin.name %></td>
            </tr>
            <tr>
              <th scope='row'>Email</th>
              <td><%= @admin.email %></td>
            </tr>
          </tbody>
        </table>

        <%= form_with model: @admin, local: true do |f| %>
          <div class='mb-3'>
            <label for='formGroupExampleInput2' class='form-label'>Name</label>
            <%= f.text_field :name, id:'inputName', placeholder: '', class: 'form-control mb-3' %>
          </div>
          <div class='mb-3'>
            <label for='formGroupExampleInput2' class='form-label'>Email</label>
            <%= f.text_field :email, id:'inputEmail', placeholder: '', class: 'form-control mb-4' %>
          </div>
          <!--ゲストログインの場合は更新ボタンを表示させない=>以下の記述-->
          <%# if @admin.email != 'guest@example.com' %>
            <%= f.submit 'Update!', class: 'w-100 btn btn-secondary' %>
          <%# end %>
        <% end %>

      </div>

    </div>
  </div>
</div>