<!--以下はsimple_calendar用の記述-->

<p id="notice"><%= notice %></p>

<h1>自分の日記</h1>

<table>
  <thead>
    <tr>
      <th>タイトル</th>
      <th>時間</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.title %></td>
        <td><%= event.body %></td>
        <td><%= event.start.strftime("%Y-%m-%d %H:%M") %></td>
        <td><%= event.end.strftime("%Y-%m-%d %H:%M") %></td>
        <td><%= link_to 'Destroy',event_path(event.id), method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= form_with(model: @event_new, local: true) do |form| %>
  <div class="title">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div class="body">
    <%= form.label :body %>
    <%= form.text_field :body %>
  </div>
  <div class="time">
    <%= form.label :start %>
    <%= form.datetime_select :start %>
  </div>
  <div class="time">
    <%= form.label :end %>
    <%= form.datetime_select :end %>
  </div>
  <div class="submit">
    <%= form.submit %>
  </div>
<% end %>

<%= month_calendar events: @events do |date, events| %>
  <%= date.day %>

  <% events.each do |event| %>
    <div>
      <%= event.title %>
    </div>
  <% end %>
<% end %>

<!--以下はfullcalendar用の記述-->

<!--<h3 class="text-center">Schedule</h3>-->
<!--<div id='calendar'></div>-->
<!--  <%# if admin_signed_in? %>-->
<!--    <%# if @admin.id == current_admin.id %>-->
<!--      <div id='inputScheduleForm' class='modal fade' tabindex='-1'>-->
<!--        <div class='modal-dialog modal-nm'>-->
<!--          <div class='modal-content'>-->
<!--            <div class='modal-header'>-->
<!--              <h4 class='modal-title'>スケジュール登録</h4>-->
<!--            </div>-->
<!--              <div class='modal-body'>-->
<!--                <%#= form_with model: @event, url: events_path, method: :post do |f| %>-->
<!--                  <div  class='col'>-->
<!--                    <p>-->
<!--                    <span>タイトル</span>-->
<!--                    <span><%#= f.text_field :title, class: 'form-control', placeholder: 'タイトルを入力してください' %></span>-->
<!--                    </p>-->
<!--                    <span>開始日時</span>-->
<!--                    <span><%#= f.datetime_field  :start, placeholder: 'XXXX-XX-XX', class:'field' %> ~ </span><br>-->
<!--                    <span>終了日時</span>-->
<!--                    <span><%#= f.datetime_field :end, placeholder: 'XXXX-XX-XX', class:'field' %></span><br>-->
<!--                    <span>詳細-->
<!--                          <%#= f.text_field :body, class: 'form-control', placeholder: 'タイトルの詳細を記入してください' %></span>-->
<!--                  </div>-->
<!--                  <div class='modal-footer'>-->
<!--                    <%#= f.submit '登録する', class: 'btn btn-primary' %>-->
<!--                    <%#= f.hidden_field :admin_id, :value => current_admin.id %>-->
<!--                    <button type='button' class='btn btn-default' data-dismiss='modal'>閉じる</button>-->
<!--                  </div>-->
<!--                <%# end %>-->
<!--              </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div id='inputEditForm'>-->
<!--          <%#= render 'events/edit', events: @events %>-->
<!--      </div>-->
<!--    <%# end %>-->
<!--  <%# end %>-->

  <!--<script>-->
    <!--// CRUDを行う際にCSRF対策のtokenを発行-->
  <!--      $(document).ready(function() {-->
  <!--      var prepare = function(options, originalOptions, jqXHR) {-->
  <!--        var token;-->
  <!--        if (!options.crossDomain) {-->
  <!--          token = $('meta[name="csrf-token"]').attr('content');-->
  <!--          if (token) {-->
  <!--            return jqXHR.setRequestHeader('X-CSRF-Token', token);-->
  <!--          }-->
  <!--        }-->
  <!--      };-->
  <!--      }-->
  <!--      )-->

        <!--// カレンダー表示-->
  <!--      $('#calendar').fullCalendar ({-->
  <!--          header: {-->
  <!--              left: 'prev,next today',-->
  <!--              center: 'month,agendaWeek,agendaDay',-->
  <!--              right: 'title'-->
  <!--          },-->

  <!--          buttonText: {-->
  <!--                prev: "<",-->
  <!--                next: ">"-->
  <!--          },-->

  <!--          timezone: 'UTC',-->
  <!--          events: '/events.json',-->
  <!--          navLinks: true,-->
  <!--          selectable: true,-->
  <!--          selectHelper: true,-->
            <!--// 日付クリック-->
  <!--          dayClick : function ( date , jsEvent , view ) {-->
  <!--              $('#inputScheduleForm').modal('show');-->
  <!--              },-->

            <!--// event クリックで編集、削除-->
  <!--          eventClick : function(event, jsEvent , view) {-->
  <!--              jsEvent.preventDefault();-->
  <!--              $(`#inputScheduleEditForm${event.id}`).modal('show');-->
  <!--          },-->

  <!--          eventMouseover : function(event, jsEvent , view) {-->
  <!--              jsEvent.preventDefault();-->
  <!--          }-->
  <!--      })-->

  <!--</script>-->