<!--以下はsimple_calendar用の記述-->

<div class='background text-font'>
  <div class='container'>
    <div class='row py-5'>

      <div class='col-md-1'></div>

      <div class='col-md-10 py-4 box-background'>

        <% if @event.errors.any? %>
          <div>
            <ul style='errors-message'>
              <% @event.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <%= form_with model: @event, local: true do |f| %>
          <div class='mb-3'>
            <label for='formGroupExampleInput' class='form-label'>Title</label>
            <%= f.text_field :title, placeholder: '', class: 'form-control mb-3' %>
          </div>
          <div class='mb-3'>
            <label for='formGroupExampleInput2' class='form-label'>Contents</label>
            <%= f.text_area :body, placeholder: '', class: 'form-control mb-3' %>
          </div>
          <div class='mb-3'>
            <label for='formGroupExampleInput2' class='form-label'>Time</label>
            <%= f.datetime_select :start_time, placeholder: '', class: 'form-control mb-3' %>
          </div>
          <%= f.submit 'Create!', class: 'w-100 btn btn-secondary' %>
        <% end %>
  
        <%= month_calendar events: @events do |date, events| %>
          <%= date.day %>
  
          <% events.each do |event| %>
            <div>
              <%= link_to event.title, event, class: 'text-link' %>
            </div>
          <% end %>
        <% end %>

      </div>

    </div>
  </div>
</div>


<!--以下はfullcalendar用の記述-->

<!--<h3 class="text-center">Schedule</h3>-->
<!--<div id='calendar'></div>-->
<!--  <%# if admin_signed_in? %>-->
<!--    <%# if @admin.id == current_admin.id %>-->
<!--      <div id='inputScheduleForm' class='modal fade' tabindex='-1'>-->
<!--        <div class='modal-dialog modal-nm'>-->
<!--          <div class='modal-content'>-->
<!--            <div class='modal-header'>-->
<!--              <h4 class='modal-title'>スケジュール登録</h4>-->
<!--            </div>-->
<!--              <div class='modal-body'>-->
<!--                <%#= form_with model: @event, url: events_path, method: :post do |f| %>-->
<!--                  <div  class='col'>-->
<!--                    <p>-->
<!--                    <span>タイトル</span>-->
<!--                    <span><%#= f.text_field :title, class: 'form-control', placeholder: 'タイトルを入力してください' %></span>-->
<!--                    </p>-->
<!--                    <span>開始日時</span>-->
<!--                    <span><%#= f.datetime_field  :start, placeholder: 'XXXX-XX-XX', class:'field' %> ~ </span><br>-->
<!--                    <span>終了日時</span>-->
<!--                    <span><%#= f.datetime_field :end, placeholder: 'XXXX-XX-XX', class:'field' %></span><br>-->
<!--                    <span>詳細-->
<!--                          <%#= f.text_field :body, class: 'form-control', placeholder: 'タイトルの詳細を記入してください' %></span>-->
<!--                  </div>-->
<!--                  <div class='modal-footer'>-->
<!--                    <%#= f.submit '登録する', class: 'btn btn-primary' %>-->
<!--                    <%#= f.hidden_field :admin_id, :value => current_admin.id %>-->
<!--                    <button type='button' class='btn btn-default' data-dismiss='modal'>閉じる</button>-->
<!--                  </div>-->
<!--                <%# end %>-->
<!--              </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div id='inputEditForm'>-->
<!--          <%#= render 'events/edit', events: @events %>-->
<!--      </div>-->
<!--    <%# end %>-->
<!--  <%# end %>-->

  <!--<script>-->
    <!--// CRUDを行う際にCSRF対策のtokenを発行-->
  <!--      $(document).ready(function() {-->
  <!--      var prepare = function(options, originalOptions, jqXHR) {-->
  <!--        var token;-->
  <!--        if (!options.crossDomain) {-->
  <!--          token = $('meta[name="csrf-token"]').attr('content');-->
  <!--          if (token) {-->
  <!--            return jqXHR.setRequestHeader('X-CSRF-Token', token);-->
  <!--          }-->
  <!--        }-->
  <!--      };-->
  <!--      }-->
  <!--      )-->

        <!--// カレンダー表示-->
  <!--      $('#calendar').fullCalendar ({-->
  <!--          header: {-->
  <!--              left: 'prev,next today',-->
  <!--              center: 'month,agendaWeek,agendaDay',-->
  <!--              right: 'title'-->
  <!--          },-->

  <!--          buttonText: {-->
  <!--                prev: "<",-->
  <!--                next: ">"-->
  <!--          },-->

  <!--          timezone: 'UTC',-->
  <!--          events: '/events.json',-->
  <!--          navLinks: true,-->
  <!--          selectable: true,-->
  <!--          selectHelper: true,-->
            <!--// 日付クリック-->
  <!--          dayClick : function ( date , jsEvent , view ) {-->
  <!--              $('#inputScheduleForm').modal('show');-->
  <!--              },-->

            <!--// event クリックで編集、削除-->
  <!--          eventClick : function(event, jsEvent , view) {-->
  <!--              jsEvent.preventDefault();-->
  <!--              $(`#inputScheduleEditForm${event.id}`).modal('show');-->
  <!--          },-->

  <!--          eventMouseover : function(event, jsEvent , view) {-->
  <!--              jsEvent.preventDefault();-->
  <!--          }-->
  <!--      })-->

  <!--</script>-->