<!--以下はsimple_calendar用の記述-->

<div class='background text-font'>
  <div class='container'>
    <div class='row py-5'>

      <div class='col-md-1'></div>

      <div class='col-md-10 py-4 box-background'>

        <%= link_to events_path, class: 'fas fa-angle-double-left fa-2x icon-link mb-2', local: true do %>
        <% end %>

          <% if @event.errors.any? %>
          <div>
            <ul style='errors-message'>
              <% @event.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
          <% end %>

          <table class='table table-borderless table-light table-customize mt-3'>
            <tbody>
              <tr>
                <th scope='row'>Time</th>
                <td><%= @event.start_time.strftime('%Y/%m/%d/%H:%M') %></td>
              </tr>
              <tr>
                <th scope='row'>Title</th>
                <td><%= @event.title %></td>
              </tr>
              <tr>
                <th scope='row'>Contents</th>
                <td><%= @event.body %></td>
              </tr>
            </tbody>
          </table>

        <% if @event.admin == current_admin %>
          <%= form_with model: @event, local:true do |f| %>
          <div class='my-3'>
            <label for='formGroupExampleInput' class='form-label'>Title</label>
            <%= f.text_field :title, autofocus: true, id:'inputTitle', placeholder: '', class: 'form-control mb-3' %>
          </div>
          <div class='mb-3'>
            <label for='formGroupExampleInput2' class='form-label'>Contents</label>
            <%= f.text_field :body, autofocus: true, id:'inputContents', placeholder: '', class: 'form-control mb-3' %>
          </div>
          <div class='mb-3'>
            <label for='formGroupExampleInput2' class='form-label'>Time</label>
            <%= f.datetime_select :start_time, autofocus: true, id:'inputStart-Time', placeholder: '', class: 'form-control mb-3' %>
          </div>
          <%= f.submit 'Update!', class: 'w-100 btn btn-secondary' %>
            <%= link_to event_path(@event), method: :delete do %>
              <%= f.submit 'Delete!', class: 'w-100 btn btn-outline-secondary mt-2' %>
            <% end %>
          <% end %>
        <% end %>

      </div>

    </div>
  </div>
</div>