<div class='background text-font'>
  <body class='text-center'>
    <div class='container'>
      <div class='row'>
        <div class='col-md-4'></div>
          <div class='col-lg-4'>
            <h1 class='h3 mb-5 fw-normal'>Sign in</h1>
              <!--%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>-->
              <!--上記のform_forを以下のform_withに変更-->
              <%= form_with model: @admin, url: admin_session_path, local: true do |f| %>
                <%= render 'devise/shared/error_messages', resource: resource %>

                <div class='visually-hidden'>
                  <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control', placeholder: 'E-mail', required: '', autofocus: '' %>
                </div>

                <div class='visually-hidden'>
                  <%= f.password_field :password, autocomplete: 'current-password', class: 'form-control', placeholder: 'Password (6 characters minimum)', required: '', autofocus: '' %>
                </div>

                <div class='visually-hidden'>
                  <%= f.password_field :password_confirmation, autocomplete: 'new-password', class: 'form-control', placeholder: 'Password confirmation', required: '', autofocus: '' %>
                </div>

                <div>
                  <%= f.submit 'Sign in', class: 'w-100 btn btn-lg btn-secondary mt-3' %>
                </div>
              <% end %>
            <p class='mt-4 text-muted'>© 2021</p>
          </div>
        <div class='col-md-4'></div>
      </div>
    </div>
  </body>
</div>