<div class='background text-font'>
  <div class='container'>
    <div class='row py-5'>

      <div class='col-md-2'></div>

      <div class='col-md-8 py-4 box-background'>

        <% if @post.errors.any? %>
          <div>
            <ul style='errors-message'>
              <% @post.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

          <%= link_to guest_path(@guest), class: 'fas fa-angle-double-left fa-2x icon-link mb-2', local: true do %>
          <% end %>

          <%= form_with model: @post, url: guest_post_path(@guest.id, @post.id), local: true do |f| %>
            <div class='mb-3'>
              <label for='formGroupExampleInput' class='form-label'>Date and Time</label>
              <%= f.text_field :date_and_time, id:'inputDate_and_Time', placeholder: '', class: 'form-control mb-3' %>
            </div>
            <div class='mb-3'>
              <label for='formGroupExampleInput2' class='form-label'>Infomation</label>
              <%= f.text_area :infomation, rows: '7', id:'inputInfomation', placeholder: '', class: 'form-control mb-3' %>
            </div>
            <div class='mb-3'>
              <label for='formGroupExampleInput2' class='form-label'>Tag</label>
              <%= f.text_field :tag_name, id:'inputTag', value: @tag_list, placeholder: '', class: 'form-control mb-4' %>
            </div>
              <%= f.attachment_field :image, class: 'text mb-3' %></br>
              <span class='text'>What is the smile of the guest?</span>
              <div class='form-group row mt-2 ml-1' id="star-<%= @post.id %>">
                <%= f.hidden_field :rate, id: :review_star %>
              </div>
              <!--以下、JavaScript-->
                <script>
                $('#star-<%= @post.id %>').empty();
                $("#star-<%= @post.id %>").raty({
                  size     : 36,
                  starOff:  '<%= asset_path('star-off.png') %>',
                  starOn : '<%= asset_path('star-on.png') %>',
                  starHalf: '<%= asset_path('star-half.png') %>',
                  scoreName: 'post[rate]',
                  score: <%= @post.rate %>,
                  half: true,
                });
                </script>
            <%= f.submit 'Update!', class: 'w-100 btn btn-secondary' %>
            <%= link_to guest_post_path(@guest.id, @post.id), method: :delete do %>
              <%= f.submit 'Delete!', class: 'w-100 btn btn-outline-secondary mt-2' %>
            <% end %>
          <% end %>

      </div>

    </div>
  </div>
</div>