<!DOCTYPE html>
<html>
  <head>
    <title>ThanksCollection</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if admin_signed_in? %>
      <div>
        <%= link_to "home", guests_path %>
      </div>
      <div>
        <%= link_to "sign-out", destroy_admin_session_path, method: :delete %>
      </div>
    <% else %>
        <div>
          <%= link_to "sign-up", new_admin_registration_path %>
        </div>
        <div>
        <%= link_to "sign-in", new_admin_session_path %>
        </div>
    <% end %>

    <% if admin_signed_in? %>
      <%= render 'layouts/search' %>
    <% end %>

    <%= yield %>
  </body>
</html>